<% if @booking.errors.any? %>
	<span class="white-text">
		<strong><%= pluralize(@user.errors.count, "error") %></strong>
		prohibited your profile from being created
		<ul>
			<% @booking.errors.full_messages.each do |message|%>
				<li><%= message %>
			<% end %>
		</ul>
	</span>
<% end %>


<%= form_for(@booking, :url => {:controller => :booking, action: :create}) do |f| %>  
	<%= f.datetime_field :start_time, class: 'form-control' %>
    <%= f.label :start_time %>
    <%= f.datetime_field :end_time, prompt: true,class: 'form-control' %>
    <%= f.label :end_time %>
   	<%= f.submit "Add", class: "btn btn-primary" %>
<% end %>