<%= link_to '<i class="material-icon right"></i>Logout'.html_safe, logout_path(@user), class: "waves-effect waves-light btn" %>


<% if @booking.errors.any? %>
	<span class="white-text">
		<strong><%= pluralize(@booking.errors.count, "error") %></strong>
		prohibited your profile from being created
		<ul>
			<% @booking.errors.full_messages.each do |message|%>
				<li><%= message %>
			<% end %>
		</ul>
	</span>
<% end %>

<div class="container">
	<div class="row center sign-up-form">
		<div class="col s10 m10 l10">
			<div class="card-panel">
				<div class="row">
					<%= form_for(@booking, :url => {:controller => :booking, action: :create}) do |f| %>  	<%= f.datetime_field :start_time, class: 'form-control' %>
					    <%= f.label :start_time %>
					    <%= f.datetime_field :end_time, prompt: true,class: 'form-control' %>
					    <%= f.label :end_time %>	
					    <%= f.hidden_field :room_id, :value => params[:room_id] %>			    
						<%= f.submit "Add", class: "btn btn-primary" %>	
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
