<%= link_to '<i class="material-icon right"></i>Logout'.html_safe, logout_path(@user), class: "waves-effect waves-light btn" %>

<%= link_to '<i class="material-icon right"></i>BookedRooms'.html_safe,  bookings_path, class: "waves-effect waves-light btn" %>

<div class="row">
  <div class="col s12">
    <h3 class="left-align">Avilable Rooms</h3>
  </div>
</div>

</h4>Search By Dates</h4>
  <%= form_tag(rooms_path, methods: :get) do %>
    <%= datetime_field_tag :search,params[:search] %>
    <%= submit_tag("Search")%>
  <% end %>




<div class="row">
  <%= @rooms.each do |room| %>
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Name: <%= room.name %></span>
          <p>Description: <%= room.description%></p>
        </div>
        <div class="card-action">
          <%= link_to "Show", room_path(room) %>
        </div>
      </div>
    </div> 
  <% end %>
</div>
                  





